circle {
  fill: #4672c1;
  stroke: #fff;
  stroke-width: 0.5;
  opacity: 0.7;
}
path.stroke-polyline {
  filter: drop-shadow(1px 1px 0 #fff) drop-shadow(-1px -1px 0 #fff)
    drop-shadow(1px -1px 0 #fff) drop-shadow(-1px 1px 0 #fff);
}
